	<include file="Tpl:head_main" />	

	<!-- 上传图片插件开始 -->	

	<!--[if !IE]>	
	-->
	<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/Admin/Ace/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");</script>

	<!-- <![endif]-->	

	<!--[if IE]>	
	<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");</script>
	<![endif]-->	

	<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/Admin/Ace/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");</script>

	<script src="__PUBLIC__/Admin/Ace/assets/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/typeahead-bs2.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/chosen.jquery.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/fuelux/fuelux.spinner.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/date-time/bootstrap-datepicker.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/date-time/bootstrap-timepicker.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/date-time/moment.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/date-time/daterangepicker.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/bootstrap-colorpicker.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/jquery.knob.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/jquery.autosize.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/jquery.maskedinput.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/bootstrap-tag.min.js"></script>

	<!-- ace scripts -->	

	<script src="__PUBLIC__/Admin/Ace/assets/js/ace-elements.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/ace.min.js"></script>
	<script src="__PUBLIC__/Admin/Ace/mustache\app\views\assets\scripts\form-elements.js"></script>

	<!-- 上传图片插件结束 -->	

	<div class="page-content">
	<div class="row">
	<div class="col-xs-12">
	<div class="widget-box">
		<div class="widget-header">
			<h4>添加管理员</h4>

		</div>

		<div class="widget-body">
			<div class="widget-main no-padding">
				<!-- PAGE CONTENT BEGINS -->	
				<form action="__CONTROLLER__/add" enctype="multipart/form-data"  method="post" class="form-horizontal" role="form">
					<br>	

					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right" for="form-field-select-1">所属用户组</label>

						<div class="col-sm-3">
							<select class="form-control" name="group_id" id="form-field-select-1">
								<option value="0">请选择用户组</option>
								<volist name="usergroup" id="ca">
									<option value="{$ca.id}">
										{$ca.title}
									</option>
								</volist>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right" for="form-field-0">管理员头像</label>

						<div class="col-sm-3">
							<div class="widget-box">
								<div class="widget-header">
									<h4>上传你的头像</h4>

									<span class="widget-toolbar">
										<a href="#" data-action="collapse"> <i class="icon-chevron-up"></i>
										</a>

										<a href="#" data-action="close"> <i class="icon-remove"></i>
										</a>
									</span>
								</div>

								<div class="widget-body">
									<div class="widget-main">
										<!-- 上传方式1 -->	
										<input type="file" id="id-input-file-2" name="userpic" />	

										<!-- 上传方式2 -->	
										<!-- <input multiple="" type="file" id="id-input-file-3" />	
										<label>
											<input type="checkbox" name="file-format" id="id-file-format" class="ace" />	
											<span class="lbl">清空所有</span>
										</label>
										-->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right" for="form-field-1">管理员名称</label>

						<div class="col-sm-7">
							<input type="text"  id="form-field-1" placeholder="管理员名称" class="col-xs-10 col-sm-5" name="username" />	
						</div>
					</div>

					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right" for="form-field-2">密码</label>

						<div class="col-sm-7">
							<input type="password" id="form-field-2" placeholder="密码" class="col-xs-10 col-sm-5"  name="password" />	
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right" for="form-field-3">确认密码</label>

						<div class="col-sm-7">
							<input class="col-xs-10 col-sm-5" type="password" id="form-field-3" placeholder="确认密码" name="password_confirm" />	
							<div class="space-2"></div>

						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right" for="form-field-3">email地址</label>

						<div class="col-sm-7">
							<input class="col-xs-10 col-sm-5" type="text" id="form-field-3" placeholder="email地址" name="email" />	
							<div class="space-2"></div>

						</div>
					</div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-4 col-md-8">
							<button class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								提交
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								清空
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	</div>

	</div>

	<script>
	$(function(){
		$('.btn-info').on('click',function(){
		$('form').submit();
	});
	})
</script>