

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>慕课网(IMOOC)-国内最大的IT技能学习平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta property="qc:admins" content="77103107776157736375" />
    <meta property="wb:webmaster" content="c4f857219bfae3cb" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="Keywords" content="慕课网，慕课官网，MOOC，移动开发，IT技能培训，免费编程视频，php开发教程，web前端开发，在线编程学习，html5视频教程，css教程，ios开发培训，安卓开发教程" />
    <meta name="Description" content="慕课网（IMOOC）是国内最大的IT技能学习平台。慕课网(IMOOC)提供了丰富的移动端开发、php开发、web前端、android开发以及html5等视频教程资源公开课。并且富有交互性及趣味性，你还可以和朋友一起编程。" />

    <meta name="360-site-verification" content="efec9ca9c0c2bf49b8f54f8ea4626ea8" />
    <meta name="baidu-site-verification" content="f81e4a13096b3a7cab15fe1d39773a4e"/>

    <script type="text/javascript">

      var OP_CONFIG={"module":"index","page":"index"};
  var isLogin = 0;
var is_choice = "";
  var seajsTimestamp="v=201606221750";
  </script>

    <link rel="stylesheet" href="__PUBLIC__/Home/style/css.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/style/swiper.css" type="text/css" />
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/swiper.jquery.min.js"></script>
    <style>
    .swiper-container {width: 1200px;height: 460px;}
    .swiper-button-prev{position: absolute; left: 300px;}
    .swiper-pagination-bullet{width: 15px;height: 15px; background: #fff;}
    .box_body {background: url(images/normaljb.png);}
</style>

</head>