<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Nginx100.com</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- basic styles -->

	<link href="__PUBLIC__/Admin/Ace/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/font-awesome.min.css" />

	<!--[if IE 7]>
	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/font-awesome-ie7.min.css" />
	<![endif]-->

	<!-- page specific plugin styles -->

	<!-- fonts -->

	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/ace-fonts.css" />

	<!-- ace styles -->

	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/ace.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/ace-skins.min.css" />
	<style>
			#iframe{ width: 100%; height: 900px; padding-bottom: 50px; background: #fff;}
			*{font-size: 14px; font-family: 微软雅黑;}
		</style>

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="__PUBLIC__/Admin/Ace/assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->

	<script src="__PUBLIC__/Admin/Ace/assets/js/ace-extra.min.js"></script>
	<script src="__PUBLIC__/Admin/js/bootbox.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!--[if lt IE 9]>
	<script src="__PUBLIC__/Admin/Ace/assets/js/html5shiv.js"></script>
	<script src="__PUBLIC__/Admin/Ace/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

